{
    "name": "LitScraperV2_$USER_NAME",
    "build": {
        "dockerfile": "Dockerfile",
        "args": {
            "USER_ID": "$USER_ID",
            "GROUP_ID": "$GROUP_ID",
            "GROUP_NAME": "$GROUP_NAME",
            "USER_NAME": "$USER_NAME",
            "PIXI_IMAGE_TAG": "$PIXI_IMAGE_TAG",
            "DOCKER_GID": "$DOCKER_GID"
        },
        "options": [
            "--tag=litscraperv2_$USER_NAME:latest"
        ]
    },
    "remoteUser": "$USER_NAME",
    "updateRemoteUserUID": true,
    "runArgs": [
        $GPU_RUN_ARGS
        "--add-host=host.docker.internal:host-gateway",
        "--name=litscraperv2_$USER_NAME"
    ],
    "mounts": [
        "source=${localWorkspaceFolder},target=/workspace,type=bind,consistency=cached",
        "source=/var/run/docker.sock,target=/var/run/docker.sock,type=bind"
    ],
    "workspaceFolder": "/workspace",
    "overrideCommand": true,
    "postStartCommand": "pixi install && tmux new -A -d -s do_not_close \\; set -g mouse on",
    "shutdownAction": "none",
    "customizations": {
        "vscode": {
            "extensions": [
                "ms-vscode.cpptools",
                "ms-python.python",
                "ms-toolsai.jupyter"
            ]
        }
    }
}
